SERVER CONFIG
----------------------------

sudo docker pull sonarqube

sudo docker network create sonar-network

sudo docker run -d --name sonar-db --restart always --network sonar-network -e POSTGRES_USER=sonar -e POSTGRES_PASSWORD=sonar -e POSTGRES_DB=sonar postgres

sudo docker run -d --name sonar --restart always -p 9000:9000 --network sonar-network -e SONAR_JDBC_URL=jdbc:postgresql://sonar-db:5432/sonar -e SONAR_JDBC_USERNAME=sonar -e SONAR_JDBC_PASSWORD=sonar sonarqube

curl http://localhost:9000

username and password are admin and admin


------------------------------
SCANNER CONFIG
------------------------------

java -version

sudo apt install openjdk-17-jdk -y     # Ubuntu/Debian
# or
sudo yum install java-17-openjdk -y    # RHEL/CentOS


cd /opt
sudo wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-5.0.1.3006-linux.zip
sudo unzip sonar-scanner-cli-*.zip
sudo mv sonar-scanner-* sonar-scanner


sudo nano /etc/profile.d/sonar.sh

export SONAR_SCANNER_HOME=/opt/sonar-scanner
export PATH=$PATH:$SONAR_SCANNER_HOME/bin


source /etc/profile

sonar-scanner -v

INFO: Scanner configuration file: /opt/sonar-scanner/conf/sonar-scanner.properties
INFO: Project root configuration file: NONE
INFO: SonarScanner 5.0.1.3006
INFO: Java 17.0.7 Eclipse Adoptium (64-bit)
INFO: Linux 6.8.0-87-generic amd64

---

Sonar qube server GUI tocken (sqp_f98eb2ef625524f319264da61b4d650c6f89ba0b)


---
for python project we can use pysonar

pip install pysonar

pysonar \
  --sonar-host-url=http://20.125.27.209:9000 \
  --sonar-token=sqp_f98eb2ef625524f319264da61b4d650c6f89ba0b \
  --sonar-project-key=test


for full detaild configuration

pysonar \
  --sonar-host-url=${{ secrets.SONAR_HOST_URL }} \
  --sonar-token=${{ secrets.SONAR_TOKEN }} \
  --sonar-project-key=test \
  --sonar.sources=. \
  --sonar.tests=. \
  --sonar.test.inclusions=**/test_*.py,**/*_test.py \
  --sonar.coverage.exclusions=**/test_*.py,**/*_test.py \
  --sonar.exclusions=**/coverage.xml \
  --coverage-report-path=coverage.xml

