name: python-ci-cd

on: push

jobs:
  j1:
    runs-on: [self-hosted, k8s]
    steps:
      - name: checkout
        uses: actions/checkout@v3 

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        working-directory: /home/runner/_work/ghlearning/ghlearning/src/apps
        run: |
          pip install -r requirements.txt

      - name: Run Pytest with coverage
        working-directory: src/apps
        run: |
          pytest \
            --cov=app \
            --cov-report=term-missing \
            --cov-report=xml
      
      - name: sonar qube scanner with Pysonar
        working-directory: src/apps
        run: |
          pysonar \
            --sonar-host-url=http://20.125.27.209:9000 \
            --sonar-token=sqp_f98eb2ef625524f319264da61b4d650c6f89ba0b \
            --sonar-project-key=test \
            --coverage-report-path=coverage.xml \
            --sonar.coverage.exclusions=**/test_*.py,**/*_test.py 

      - name: Sonar Quality Gate Check
        uses: sonarsource/sonarqube-quality-gate-action@v1.1.0
        with:
          scanMetadataReportFile: src/apps/.sonar/report-task.txt
        env:
          SONAR_TOKEN: sqp_f98eb2ef625524f319264da61b4d650c6f89ba0b
          SONAR_HOST_URL: http://20.125.27.209:9000

      - name: install buildkit CLI
        run: |
          curl -L https://github.com/moby/buildkit/releases/download/v0.13.2/buildkit-v0.13.2.linux-amd64.tar.gz \
          | tar -xz
          sudo mv bin/buildctl /usr/local/bin/buildctl
          sudo chmod +x /usr/local/bin/buildctl

          buildctl --addr tcp://localhost:1234 debug workers

      - name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCRA }}
          password: ${{ secrets.GHCRP }}


      - name: Build image via remote BuildKitd
        working-directory: src/
        run: |
          buildctl build \
            --frontend dockerfile.v0 \
            --local context=. \
            --local dockerfile=. \
            --output type=image,name=ghcr.io/gh-actions-learning/app:v1,push=true
        env:
          BUILDKIT_HOST: tcp://localhost:1234

          
