name: python-ci-cd

on: push

jobs:
  j1:
    runs-on: [self-hosted, k8s]
    steps:
      - name: checkout
        uses: actions/checkout@v3 

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        working-directory: /home/runner/_work/ghlearning/ghlearning/src/apps
        run: |
          pip install -r requirements.txt

      - name: Run Pytest with coverage
        working-directory: src/apps
        run: |
          pytest --cov=app --cov-report=term-missing

      - name: Check Docker version
        run: |
          docker --version